/* You can add global styles to this file, and also import other style files */

/* login module */
/* #login{ */
    /* background-image: url(./assets/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg); */
    /* background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cadetblue;
    min-height:900px;
} */
