/* You can add global styles to this file, and also import other style files */
body{
    min-height: 100%;
    padding:74px 0 52px 0 !important;
}
/* login module */
#login{
    min-height:900px;
    margin-top:10rem !important;
}
#login input,#login button{
    width:80%;
}