<div id="login" class="container-fluid bg-dark">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <form class="p-4 border border-light-grey ">
              <div id="login-form bg-dark">
                  <h2 class="text-center mb-3 text-danger">Log In to GrabInc.</h2>
                  <input type="text" class="form-control mb-3" placeholder="Email address">
                  <input type="password" class="form-control mb-2" placeholder="Password">
                  <button class="btn btn-success w-100 mb-2">Log In</button>
                  <!-- <div class="d-flex justify-content-center mb-3">
                      <a href="javascript:void()" class="mr-4" routerLink="../resetPassword">Forgotten account?</a><a href="javascript:void()" routerLink="../signup">Sign up for GrabInc.</a>
                  </div> -->
              </div>
          </form>
      </div>
  </div>
</div>
