<div id="login" class="container-fluid">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <form class="p-4 border border-light-grey rounded shadow">
              <div id="login-form">
                  <h2 class="text-center mb-4 text-dark">Log In to AXY</h2>
                  <div class="d-flex justify-content-center">
                    <input type="text" class="form-control mb-3 mt-2" placeholder="Email address">
                  </div>
                  <div class="d-flex justify-content-center">
                    <input type="password" class="form-control mb-3" placeholder="Password">
                  </div>
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mb-3">Log In</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
